node_modules
npm-debug.log
Dockerfile
docker-compose.yml
compose.yml
*.md
*.tsbuildinfo
.vscode
.idea
dist
build
.cache
.next
out
public/static
coverage
*.tgz
*.zip
*.tar
*.tar.gz
*.gz
*.log
*.swp
.DS_Store
Thumbs.db

# 必要なファイルは除外しない
!package.json
!pnpm-lock.yaml
!tsconfig.json