# Node
node_modules/

# Next.js
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp

# Build
build/
dist/
.cache/
.pnpm-store

# Test
coverage/

# Env
.env
.env.*

# Misc
*.tgz
*.zip
*.tar
*.tar.gz
*.log
*.tsbuildinfo

# Docker
*.local
.docker/

# Public assets (except favicon etc. for Next.js)
public/
!public/favicon.ico
