node_modules
.pnpm-debug.log
dist
build
.next
out
coverage
*.log
*.lock
*.tsbuildinfo
*.local
*.env
*.env.local
*.env.development
*.env.test
*.env.production
.vscode
.idea
.DS_Store
Thumbs.db
*.sublime-workspace
*.sublime-project